html {
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: #D2B48C;
}

body {
    font-family: "Patrick Hand", cursive;
    font-weight: 400;
    font-style: normal;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-bottom: 1px;
    background-color: #D2B48C;
}

header {
    background-image: url("greenNote.png");
    background-size: cover;
    margin-top: 5px;
    margin-left: 20%;
    margin-right: 20%;
    box-shadow: -5px 5px 5px black;
}

h1 {
    text-align: center;
    padding-top: 100px;
}

h2 {
    text-align: center;
}

nav {
    text-align: center;
    margin-top: 30px;
    background-color: rgb(255, 255, 0);
    box-shadow: -5px 5px 5px black;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 25px;
    padding: 10px;
}

nav ul {
    list-style: none;   /* No bullet points */
    display: inline;    /* Displays the navigation bar centered */
    margin: 0px;        /* Actually centered, not off centered */
    padding: 0px;       /* Actually centered, not off centered */
}

nav ul li {
    display: inline;
    padding-left: 15px;
}

nav ul li a {
    color: rgb(72, 0, 255);
}

nav ul li a:link {
    text-decoration: none;  /* Removes the underlines */
}

nav ul li a:hover {
    text-decoration: underline;
}

nav ul li a:active {
    font-weight: bold;
}

ol {
    text-align: center;
    list-style-position: inside;
}

p {
    margin-left: 20%;
    margin-right: 20%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
}

.postItYellow {
    background-image: url("yellowNote.png");
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: -5px 5px 5px black;
    padding-top: 70px;
    padding-bottom: 20px;
}

.postItGreen {
    background-image: url("greenNote.png");
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: -5px 5px 5px black;
    padding-top: 100px;
}

.skills {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    padding-left: 20px;
    margin-top: 10px;
    padding-bottom: 20px;
}